Package: diagnostics-addon-{veristand_version}
Version: {nipkg_version}
Architecture: windows_x64
Maintainer: National Instruments <support@ni.com>
XB-Plugin: file
Description:  The diagnostics add-on reads DIDs, PIDs, and DTCs.  It writes CPIDs and clears DTCs.
XB-Eula:  
Priority: standard
Homepage: http://www.ni.com
XB-LanguageSupport: en
XB-UserVisible: yes
Section: Add-Ons
XB-DisplayVersion: 1.0
XB-DisplayName: Diagnostics Addon for VeriStand {veristand_version}
Depends: 
